<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminController</servlet-name>
        <servlet-class>controller.adminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageUserController</servlet-name>
        <servlet-class>controller.manageUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUserController</servlet-name>
        <servlet-class>controller.deleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>controller.EditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUserController</servlet-name>
        <servlet-class>controller.addUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageSongController</servlet-name>
        <servlet-class>controller.manageSongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteSongController</servlet-name>
        <servlet-class>controller.deleteSongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSongController</servlet-name>
        <servlet-class>controller.EditSongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageAlbumController</servlet-name>
        <servlet-class>controller.manageAlbumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAlbumController</servlet-name>
        <servlet-class>controller.deleteAlbumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAlbumController</servlet-name>
        <servlet-class>controller.addAlbumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAlbumController</servlet-name>
        <servlet-class>controller.EditAlbumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageAtistController</servlet-name>
        <servlet-class>controller.manageAtistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteArtistController</servlet-name>
        <servlet-class>controller.deleteArtistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddArtistController</servlet-name>
        <servlet-class>controller.AddArtistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditArtistController</servlet-name>
        <servlet-class>controller.EditArtistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RamdomSongController</servlet-name>
        <servlet-class>controller.RamdomSongController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminController</servlet-name>
        <url-pattern>/adminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageUserController</servlet-name>
        <url-pattern>/manageUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUserController</servlet-name>
        <url-pattern>/deleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/EditUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUserController</servlet-name>
        <url-pattern>/addUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageSongController</servlet-name>
        <url-pattern>/manageSongController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSongController</servlet-name>
        <url-pattern>/deleteSongController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSongController</servlet-name>
        <url-pattern>/EditSongController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageAlbumController</servlet-name>
        <url-pattern>/manageAlbumController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAlbumController</servlet-name>
        <url-pattern>/deleteAlbumController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAlbumController</servlet-name>
        <url-pattern>/addAlbumController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAlbumController</servlet-name>
        <url-pattern>/EditAlbumController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageAtistController</servlet-name>
        <url-pattern>/manageAtistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteArtistController</servlet-name>
        <url-pattern>/deleteArtistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddArtistController</servlet-name>
        <url-pattern>/AddArtistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditArtistController</servlet-name>
        <url-pattern>/EditArtistController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RamdomSongController</servlet-name>
        <url-pattern>/RamdomSongController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
